
docs/
testing/
tests/

Prompts.txt
*.bat
*.mol2
*.pdb
*.pyc
__pycache__/
*.sdf
MLP_Tools/

CPPCartoon/
graphify-out/

.DS_Store
.graphifyignore
Claude.md
.claude

dist/*
!dist/*.dmg
!dist/*.exe
build/
*.build/
*.dist/
*.onefile-build/

venv/
.venv/
env/
